<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
          integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>
<body>

<h1>List of comments:</h1>
<div>
    <button type="button" onclick="newPost()" value="new post" class="btn btn-success">New post</button>
    <td><a class="btn btn-warning" th:href="'/logout/'" role="button">Logout</a></td>
</div>
<br>

<div class="list-group">
    <tr th:each="notice : ${allNotice}" style="list-style-type: none">
        <a href="#" class="list-group-item list-group-item-action active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${notice.title}"></h5>
                <small  th:text="${'(' + notice.date + ') Created'}"></small>
            </div>
            <p class="mb-1" th:text="${notice.content}"></p>
            <small th:text="${'(' + notice.creator + ') Creator'}"></small>
        </a>
        <td><a class="btn btn-warning" th:href="'/listwithreplies/' + ${notice.id}" role="button">List notice with reply</a></td>
        <td><a class="btn btn-warning" th:href="'/reply/' + ${notice.id}" role="button">Reply</a></td>
        <td><a class="btn btn-warning" th:href="'/deletepost/' + ${notice.id}" role="button">Delete</a></td>
        <td><a class="btn btn-warning" th:href="'/editnotice/' + ${notice.id}" role="button">Edit</a></td>
    </tr>
</div>

<!--<div>-->
<!--    <table style="font-family: 'Trebuchet MS',Arial,sans-serif" width="75%">-->
<!--        <tr th:each="notice : ${allNotice}" style="list-style-type: none">-->
<!--            <td th:text="${notice.title}" style="border: 1px solid #ddd"></td>-->
<!--            <td th:text="${notice.content}" style="border: 1px solid #ddd"></td>-->
<!--            <td th:text="${notice.creator}" style="border: 1px solid #ddd"></td>-->
<!--            <td><a class="btn btn-warning" th:href="'/listwithreplies/' + ${notice.id}" role="button">List notice with reply</a></td>-->
<!--            <td><a class="btn btn-warning" th:href="'/reply/' + ${notice.id}" role="button">Reply</a></td>-->
<!--            <td><a class="btn btn-warning" th:href="'/deletepost/' + ${notice.id}" role="button">Delete</a></td>-->
<!--            <td><a class="btn btn-warning" th:href="'/editnotice/' + ${notice.id}" role="button">Edit</a></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<script>
    function newPost() {
        location.href = "newpost";
    }
</script>

</body>
</html>