<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
          integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>
<body>

<h1>List of diarys:</h1>

<br>
<div>
    <table style="font-family: 'Trebuchet MS',Arial,sans-serif" width="75%">
        <td th:text="${Notice.title}" style="border: 1px solid #ddd"></td>
        <tr th:each="reply : ${replies}" style="list-style-type: none">
            <td th:text="${reply.title}" style="border: 1px solid #ddd"></td>
            <td th:text="${reply.content}" style="border: 1px solid #ddd"></td>
            <td th:text="${reply.creator}" style="border: 1px solid #ddd"></td>
        </tr>
    </table>
</div>


</body>
</html>